* {
	color: rgba(50, 77, 66, 1); /*dark green*/ 
	outline: none;
}

body {
	padding: 1.5em 0;
}

h1, section, nav{
	margin: 0 40px;
}

h1, h2, button, nav {
	font-family: "Times New Roman", Times, serif;
}

nav {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.nav_a {
	display: inline-block;
	font-size: 1.25em;
	text-decoration: none;
	margin-bottom: 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(50, 77, 66, 1);
	border: 2px solid rgba(50, 77, 66, 1);
	color: rgba(255, 255, 255, 0.9);
	border-radius: 0.6em;
}

.nav_a:hover, .nav_a:focus {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.9);
	color: rgba(50, 77, 66, 1);
}

section {
	background-image: linear-gradient(rgba(50, 77, 66, 0.099), rgba(50, 77, 66, 0.05));
	padding: 2.5px 20px;
	margin-top: 8px;
	border-radius: 15px;
}

figcaption {
	font-size: 1.17em;
	font-weight: bold;
	margin-bottom: 0.25em;
}

pre {
	display: inline-block;
	margin: 0px 1em 0px 0px;
}

code {
	font-family: "Courier New", Courier, monospace;
}

figure {
	padding: 1em 1em 0 1em;
	border-radius: 0.938em;
	margin: 1em 0;
	overflow-x: auto;
	overflow-y: hidden;
}

figure:nth-child(odd) {
	background-color: rgba(71, 204, 155, 0.125); /*light green at 0.125 alpha*/
}

figure:nth-child(even) {
	background-color: rgba(71, 204, 155, 0.25); /*light green at 0.25 alpha*/
}

button {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.75); /*white at 0.75 alpha*/
	color: rgba(50, 77, 66, 1);
	border: 2px solid rgba(50, 77, 66, 1); /*dark green*/
	border-radius: 0.938em;
	padding: 0.5em;
	display: block;
	position: relative;
	top: -0.5em;
}

button:hover, button:focus {
	background-color: rgba(50, 77, 66, 1); /*dark green*/
	color: rgba(255, 255, 255, 0.9);
}

/*Scrollbar*/

::-webkit-scrollbar, ::-webkit-scrollbar-track {
	background: rgba(50, 77, 66, 0.5);
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 1); 
	border: 2px solid rgba(50, 77, 66, 1);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.75); 
	border: 2px solid rgba(50, 77, 66, 1);
}

::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:horizontal {
	border-bottom-left-radius: 0.938em;
	border-bottom-right-radius: 0.938em;
}

::-webkit-scrollbar-thumb:vertical {
	border-radius: 0.938em;
}

